In [ ]:
"""
consider this list of addresses
['H-73, MDT, Powai , Mumbai' , '1604, SS, Hyderabad' ,'B block 73, Adyar, Chennai']
Extract cities from each address, use list comprehension .
"""

In [ ]:
import numpy as np
addr=['H-73, MDT, Powai , Mumbai' , '1604, SS, Hyderabad' ,'B block 73, Adyar, Chennai']
lst=[]
for i in addr:
  lst.append(i.split())
print(lst)
city=[]

for i in lst:
  city.append((i[-1]))
  
print(city)

[['H-73,', 'MDT,', 'Powai', ',', 'Mumbai'], ['1604,', 'SS,', 'Hyderabad'], ['B', 'block', '73,', 'Adyar,', 'Chennai']]
['Mumbai', 'Hyderabad', 'Chennai']